<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/svg" />
    <title>Ajout d'un article</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="layout">
      <%- include('../layout/header', {}); %>
      <section class="main">
        <main class="centered">
          <h1>Ajout d'un article</h1>
          <form action="/articles/action/add" method="POST">
            <label>
              <div>Nom</div>
              <input type="text" placeholder="Ex: Tournevis" name="name" />
            </label>
            <label>
              <div>Prix</div>
              <input type="number" name="price" />
            </label>
            <label>
              <div>Quantité</div>
              <input type="number" name="qty" />
            </label>
            <button>Ajouter</button>
          </form>
        </main>
      </section>
      <%- include('../layout/footer', {}); %>
    </div>
  </body>
</html>
