<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/logo.svg" type="image/svg" />
    <title>Accueil</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="layout">
      <%- include('../layout/header', {}); %>
      <section class="main">
        <main class="centered">
          <div class="tagline">
            <p>Gérer efficacement votre stock</p>
            <a href="/articles">
              <button class="primary" autofocus>Voir le stock</button>
            </a>
          </div>
        </main>
      </section>
      <%- include('../layout/footer', {}); %>
    </div>
  </body>
</html>
